{% extends "base.html" %}

{% block content %}
<header class="header-section">
    <div class="container">
        <h1 class="display-1 main-title">Axel Bautista</h1>
        <p class="lead">Software engineer</p>
    </div>
</header>
<section class="portfolio-section">
    <div class="container">
        <h2 class="mb-4 display-4 text-center">Portfolio</h2>
        <p class="mb-4 lead text-center">Some of the projects I have worked on.</p>
    <div class="container">
        <div class="row">
            <!-- Cards -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/auvis.webp" class="card-img-top img-fluid" alt="Medex">
                    <div class="card-body">
                        <h5 class="card-title">Auvis</h5>
                        <p class="card-text">Sistema de videovigilancia automatizado activado por detección de personas.</p>
                        <a href="https://github.com/AxelF1899" class="btn btn-dark">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/NHT.png" class="card-img-top img-fluid" alt="NHT">
                    <div class="card-body">
                        <h5 class="card-title">Newborn Health Tracker</h5>
                        <p class="card-text">Aplicación móvil que predice el nivel de riesgo para padecer enfermedades en recién nacidos.</p>
                        <a href="https://github.com/AxelF1899/newbornHealthTracker" class="btn btn-dark">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/medex.PNG" class="card-img-top img-fluid" alt="Medex">
                    <div class="card-body">
                        <h5 class="card-title">Medex</h5>
                        <p class="card-text">Sistema web para evaluar el perfil progresivo de estudiantes de medicina.</p>
                        <a href="https://github.com/AxelF1899/Prueba-Progresiva" class="btn btn-dark">Explore</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/parking4u.png" class="card-img-top img-fluid" alt="Medex">
                    <div class="card-body">
                        <h5 class="card-title">Parking 4u</h5>
                        <p class="card-text">Sistema de reservación de estacionamiento y autolavado.</p>
                        <a href="https://github.com/AxelF1899" class="btn btn-dark">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/EDANA.png" class="card-img-top img-fluid" alt="Medex">
                    <div class="card-body">
                        <h5 class="card-title">Edana</h5>
                        <p class="card-text">Herramienta de gestión académica para estudiantes.</p>
                        <a href="https://github.com/AxelF1899/GarzaCheck" class="btn btn-dark">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img/mapleSyrup.png" class="card-img-top img-fluid" alt="Medex">
                    <div class="card-body">
                        <h5 class="card-title">Bibliobuddy</h5>
                        <p class="card-text">Aplicación web para comprar libros desde distintas opciones.</p>
                        <a href="https://github.com/josuejimenez20/biblioduddy" class="btn btn-dark">Explore</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
